In [1]:
x=2                       #variable => value store => number => integer datatype/ datastructure
y=4                       #variable => value store => number => integer datatype/ datastructure
z= 1 + 4j                 #complex
a= 3.7                    #float
u= "ram"                  # both single or double quotation supported
sum= x+y
print (sum)
divide = y/x
print (divide)
subtract = a-z
print (subtract)
modulus = y/x
print (modulus)

6
2.0
(2.7-4j)
2.0

In [2]:
gravity_of_earth = 9.8 #float

In [3]:
g = 9.8

In [4]:
#binary, octal, decimal,hexadecimal
a= 0b1010  #binary literals => 2 digits 0,1
b= 100     #decimal literals => 10 digits 0-9
c= 0o310   # octal literals  => 8 digits  0-7
d= 0x12cd  # hexadecimal literal => 16 digit 0-9 a-f

In [5]:
print (a, b, c, d)

10 100 200 4813

In [6]:
a= 1.5

In [7]:
print (type (a))

<class 'float'>

In [8]:
s= 1
print (type(s))

<class 'int'>

In [9]:
# dynamically typed language => run time mai value(datatype of variable) change hune vayera

In [10]:
a= "ram"
print (id (a))

2108710845680

In [11]:
a= 2.6
print (id (a))

2108687981808

In [12]:
#garbage collected language => a vanne ram ko value aafai hataucha 2.6 ko value/ jun last ma deko cha tei value ko address matrai point garcha

In [13]:
r= "ramesh"
print (type(r))

<class 'str'>

In [14]:
r= 'ramesh'
print (type (r))

<class 'str'>

In [15]:
r= """ramesh"""
print (type (r))

<class 'str'>

In [17]:
#boolean
x= True 
print (x,type(x))

True <class 'bool'>

In [18]:
x= False 
print (x, type(x))

False <class 'bool'>

In [19]:
#list datatype are muteble
x= [1,2,3,4]
print (x, type(x))

[1, 2, 3, 4] <class 'list'>

In [20]:
#tuple datatype are immutable
x= (1,2,3,4)
print (x, type(x))

(1, 2, 3, 4) <class 'tuple'>

In [21]:
#set datatype only contains unique values
x= {1,2,3,4}
print (x, type(x))

{1, 2, 3, 4} <class 'set'>

In [22]:
#dictionary datatype
person= {
    "name":"ram", #key value pair with comma seperated
    "age" : 22,
    "address" : "ktm" #last comma is optional 
}
print (person, type(person))

{'name': 'ram', 'age': 22, 'address': 'ktm'} <class 'dict'>

In [23]:
#return statement \n
s= "welcome to python course. \n i am nayna. \n hello everyone " #line break dina lai \n
print (s)

welcome to python course.
 i am nayna.
 hello everyone

# MULTILINE STRING => \n ko satta tinwota quotation rakhna milcha

In [1]:
s= """welcome to python class.
python is dynamically typed language. 
learn it."""
print (s)

welcome to python class.
python is dynamically typed language.
learn it.

In [27]:
s= "welcome to python course. \\n i am nayna. \\n hello everyone " #\n pani print garnu paryo vane double slash
print (s)

welcome to python course. \n i am nayna. \n hello everyone

In [28]:
#raw string => j cha tei print garne
s= r"welcome to python course. \n i am nayna. \n hello everyone "
print (s)

welcome to python course. \n i am nayna. \n hello everyone

In [29]:
#user sanga input magna lai
x= input("Enter the value of x:")
y= input("Enter the value of y:")

sum = int(x)+ int(y)
print (sum)

Enter the value of x: 2
Enter the value of y: 3

5

In [31]:
first_name="nayna"
last_name= "koju"
full_name= first_name + " " + last_name #concatenation
print ("So your name is" + " " + full_name)

So your name is nayna koju

In [32]:
first_name=input ("enter your first name")
last_name= input("enter last name")
full_name= first_name + " " + last_name #concatenation
print (full_name)

enter your first name Nayna
enter last name Koju

Nayna Koju

In [33]:
#type conversion
float(5)

5.0

In [34]:
int(2.5)

2

In [35]:
str(2)

'2'

In [36]:
#CONVERSION TO AND FROM STRING MUST CONTAIN COMPATIBLE VALUES
int("1p")

ValueError: invalid literal for int() with base 10: '1p'

In [37]:
P= int(input("Enter the value of P:"))
T= int(input("Enter the value of T:"))
R= int(input("Enter the value of R:"))

Simple_Interest = (P*T*R)/100
print (Simple_Interest)

Enter the value of P: 2222
Enter the value of T: 2
Enter the value of R: 2

88.88

In [38]:
#f-string interpolation
P= int(input("Enter the value of P:"))
T= int(input("Enter the value of T:"))
R= int(input("ETnter the value of R:"))

Simple_Interest = (P*T*R)/100
print (f"the simple interest is: {Simple_Interest} /- only")

Enter the value of P: 555
Enter the value of T: 33
ETnter the value of R: 3

the simple interest is: 549.45 /- only

In [39]:
4%3 #modulus remainder operator

1

In [40]:
5/2

2.5

In [41]:
5//2 #floor division/ integer division

2

In [42]:
#power operators
2**2

4

In [43]:
2**3

8

In [44]:
2**4

16

In [45]:
#comparison operator
2>4 #greater than                             #less then(<) #equal to (==) #not equal to (!=)

False

In [46]:
4>2

True

In [47]:
2>=4 #greaterthan equal to

False

In [48]:
2>=2

True

In [49]:
5>=2 #kunai euta condition mile huncha

True

In [50]:
name="ramesh"
print(len(name))

6

In [51]:
len("apple") == len("banana")

False

Python String