In [2]:
x= [1,2,3,4,5]
output= []
for i in x:
    output.append (i**2) #{1,4,9,16,25}
print (output)

[1, 4, 9, 16, 25]

In [13]:
x= [1,2,3,4,5]
output= []
for i in x:
    if i%2==0:
        print ("even") #output.append("even") #output.append garyo vane output list ma aucha
    else:
        print ("odd") #output.append("odd")
#print(output)

odd
even
odd
even
odd

In [14]:
x= [11,12,24, 1,2,3,1,6,2,7,1,11,19,3,8,9,3,9,10,11,12,24,1,2,3,8]
#unique items =[11,12,24,1,2,3,6,7,19,8,9,10]
unique_items= []
for i in x:
    if i not in unique_items:
        unique_items.append(i)
print (unique_items)

[11, 12, 24, 1, 2, 3, 6, 7, 19, 8, 9, 10]

In [33]:
#to find number of vowels
name= "rAmesh pradhan" #no of vowels=>aeiou
count= 0
for i in name:
    if i.lower() in "aeiou":
        count+=1
print(count)

4

In [42]:
#To find total marks
marks= {'Alan':99, 'Bill': 55, 'Cory':77}
total_marks=0
for mark in marks.values():
    total_marks+= mark
print(total_marks)

231

In [14]:
#name ma kati wota letter cha vanera print garne
students=["Alan", "Bil", 'Ramesh','Corry', 'Ram', 'Shyam bahadur', 'Gita', "Ramkumari"]
for names in students:
    name_length = len(names)
    print(f"The length of {names} has {name_length} characters.")

The length of Alan has 4 characters.
The length of Bil has 3 characters.
The length of Ramesh has 6 characters.
The length of Corry has 5 characters.
The length of Ram has 3 characters.
The length of Shyam bahadur has 13 characters.
The length of Gita has 4 characters.
The length of Ramkumari has 9 characters.

In [20]:
students=["Alan", "Bil", 'Ramesh','Corry', 'Ram', 'Shyam bahadur', 'Gita', "Ramkumari"]
output={}
for names in students:
    output[names] = len(names)
print(output)

{'Alan': 4, 'Bil': 3, 'Ramesh': 6, 'Corry': 5, 'Ram': 3, 'Shyam bahadur': 13, 'Gita': 4, 'Ramkumari': 9}

In [5]:
students=["Alan", "Bil", 'Ramesh','Corry', 'Ram', 'Shyam bahadur', 'Gita', "Ramkumari"]
output={}
i=0
for names in students:
    output.update({names:i})
    i+=1
print(output)

{'Alan': 0, 'Bil': 1, 'Ramesh': 2, 'Corry': 3, 'Ram': 4, 'Shyam bahadur': 5, 'Gita': 6, 'Ramkumari': 7}

In [2]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
for i in range(0,10,1):#start, stop, step
    print (i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(0,10,2):#start, stop, step
    print (i)

0
2
4
6
8

In [8]:
for i in range(10,1,-1):#start, stop, step
    print (i)

10
9
8
7
6
5
4
3
2

In [12]:
students=["Alan", "Bil", 'Ramesh','Corry', 'Ram', 'Shyam bahadur', 'Gita']
output={}
i=0
for i in range(0,7):
    output[students[i]]=i
print(output)

{'Alan': 0, 'Bil': 1, 'Ramesh': 2, 'Corry': 3, 'Ram': 4, 'Shyam bahadur': 5, 'Gita': 6}

In [15]:
d_input= {'Alan': 0, 'Bil': 1, 'Ramesh': 2, 'Corry': 3, 'Ram': 4, 'Shyam bahadur': 5, 'Gita': 6}
#output= ["Alan", "Bil", 'Ramesh','Corry', 'Ram', 'Shyam bahadur', 'Gita']
output=[]
for i in d_input.keys():
    output.append(i)
print(output)

['Alan', 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam bahadur', 'Gita']

In [17]:
students=["Alan", "Bil", 'Ramesh','Corry', 'Ram', 'Shyam bahadur', 'Gita', 'Sita']
output={}
for i in range(0,len(students)):
    output[students[i]]=i
print(output)

{'Alan': 0, 'Bil': 1, 'Ramesh': 2, 'Corry': 3, 'Ram': 4, 'Shyam bahadur': 5, 'Gita': 6, 'Sita': 7}

In [19]:
us_price= {"milk": 2.03, "bread": 2.6, "butter": 3.6}
#convert in nepali price
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:v*132})
print (nep_price)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [23]:
us_price= {"milk": 2.03, "bread": 2.6, "butter": 3.6}
#convert in nepali price
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:v*132*1.13})
print (nep_price)

{'milk': 302.79479999999995, 'bread': 387.816, 'butter': 536.9759999999999}

In [29]:
#less than 5=> 13% greater vayo vane 15% tax
us_price={
    "milk": 2.03,
    "bread": 2.6,
    "iphone": 999,
    "butter": 3.6,
    "meat": 5,
    "mobile": 500,
    "laptop": 1000,
    "tv": 340
}
nep_price={}
for k,v in us_price.items():
    if v<=5:
        nep_price.update({k:v*132*1.13})
    else:
        nep_price.update({k:v*132*1.20})
print (nep_price)

{'milk': 302.79479999999995, 'bread': 387.816, 'iphone': 158241.6, 'butter': 536.9759999999999, 'meat': 745.8, 'mobile': 79200.0, 'laptop': 158400.0, 'tv': 53856.0}