In [3]:
#number even hoki odd
def is_odd(n):
    if n%2==1:
        return True
    else:
        return False

In [4]:
is_odd(3)

True

In [6]:
result= is_odd(3)
if result:
    print("odd")
else:
    print("even")

odd

In [7]:
list(filter(is_odd,[1,27,12,17,8,93,9,3,2,1,5]))

[1, 27, 17, 93, 9, 3, 1, 5]

In [8]:
def is_odd(n):
    return n%2==1

In [9]:
is_odd(2)

False

In [10]:
is_odd(3)

True

In [13]:
#lambda use
is_odd= lambda n: n%2==1

In [14]:
is_odd(4)

False

In [15]:
#function nabanaikana direst lambda
list(filter(lambda n: n%2==1,[1,27,12,17,8,93,9,3,2,1,5]))

[1, 27, 17, 93, 9, 3, 1, 5]

In [16]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [18]:
def square(n):
    return n**2
map(square,[1,2,3,4,5,6])

In [19]:
list(map(square,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [20]:
#square nabanaikana siddhai lambda
list(map(lambda n: n**2,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [22]:
#addition lai lambda ma convert
def addition(x,y):
    return x+y
add= lambda x,y:x+y

In [23]:
add(2,3)

5

In [26]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [27]:
def addition(x,y):
    return x+y

In [30]:
reduce (addition, [1,2,3,4]) #1,2,3,4 => duita duita items jancha => 3,3,4=> 6,4=> 10

10

In [32]:
reduce(lambda x,y: x+y,[1,2,3,4])

10

In [33]:
def mean(numbers):
    sum=0
    for i in numbers:
        sum+=i

    m=sum/len(numbers)
    return m

In [36]:
mean([1,2,3,4,5,6,7,8])

4.5